* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
}

#mark {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: cursive;
}

#col {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 20px; */
}

#col1 {
    color: red;
}

#col3 {
    color: blue;
}



#hor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: cursive;
}

#tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: cursive;
    z-index: 1;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 200px;
    border: 1px , solid black;
}